body {
    background-color: rgba(250, 155, 38, 0.199);
    color: #000;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.play-round {
    margin: 50px;
}

.options button {
    width: 15%;
    padding: 10px 10px;
    background-color: rgba(137, 43, 226, 0.375);
    
}

.playerscore, .computerscore {
    text-align: center;
    margin: 50px;
}